*.[oa]
*~
*.obj
*.pro.user*
projects/*/*/Makefile*
projects/gui_wallet/gui_wallet_qt/gui_wallet
sys/*/bin/*
sys/*/.objects/*
projects/*/*/debug/*
projects/*/*/release/*
moc_*.cpp
workspaces
.gitattributes
projects/*/*/x64
projects/*/*/Win32
projects/*/*/*.filters*
!sys/*/bin/setup_environment.bat
projects/tests/cli_wallet_test_vs15/*
!projects/tests/cli_wallet_test_vs15/cli_wallet_test.vcxproj
!projects/tests/cli_wallet_test_vs15/cli_wallet_test.sln
projects/tests/cli_wallet_test_vs13/*
!projects/tests/cli_wallet_test_vs13/cli_wallet_test.vcxproj
!projects/tests/cli_wallet_test_vs13/cli_wallet_test.sln
.DS_Store
.qmake.stash
gui_wallet.app
*wallet.json
*after-import-key-*.wallet
*.wallet
